body {
    margin: 0;
    padding: 0;

    font-family: Helvetica, Arial;
    font-size: 16px; 
    color: #000;

    background: #fff;
}


.wrapper {
    width: 980px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.site-header {
    position: relative;
    background: #3a82cc;
    height: 100px;
}

.site-header .logo  {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 171px;
    height: 80px;
    background: url(../img/logo.png);
}
.site-header .links {
    position: absolute;
    right: 10px;
    top: 10px;
}

.site-navigation {
   background: yellow;
}
.site-navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


/* alleen hoofd menu items naast elkaar */
.site-navigation > ul > li {
    /* inline block zet dingen naastelkaar */
    display: inline-block;
}

/* selecteerd het submenu, kan korter door .submenu */
.site-navigation > ul > li > ul {
    /* display none verbergt */
    display: none;
    /* position absolute zet het menu eronder */
    position: absolute;
    background: #fff;
}
.site-navigation > ul > li:hover > ul {
    /* display block toont het submenu */
    display: block;
}


/*makkelijker: */
.site-navigation .submenu {
    /* display none verbergt */
    display: none;
    /* position absolute zet het menu eronder */
    position: absolute;
    background: #fff;
}
.site-navigation li:hover .submenu {
    /* display block toont het submenu */
    display: block;
}


.site-navigation ul li a {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    display: block;
}   

.site-content {
    background: #cc853a;
    overflow: hidden;
}

.site-content .content-left {
    float: left;  
    width: 20%;
}

.site-content .content-mid {
    float: left;  
    width: 60%;
}

.site-content .content-right {
    float: left;  
    width: 20%;

}
.site-footer {
    background: #59cc3a;
    height: 100px;
}